<p id="notice"><%= notice %></p>

<%= link_to 'Professor', professors_path %>
<%= link_to 'Instrumento', instrumentos_path %>
<%= link_to 'Alunos Instrumentos', alunosinstrumentos_path %>

<%= link_to image_tag("Escola de musica.png"), professors_path %>

<h1>Aluno</h1>

<table>
  <thead>
    <tr>
       <th>ID</th>
      <th>Nome</th>
      <th>Instrumento</th>
      <th>Cpf</th>
      <th>Identidade</th>
      <th>Nascimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.id %></td>
        <td><%= aluno.nome %></td>
        <td><%= aluno.instrumento %></td>
        <td><%= aluno.cpf %></td>
        <td><%= aluno.identidade %></td>
        <td><%= aluno.nascimento %></td>
        <td><%= link_to 'Show', aluno %></td>
        <td><%= link_to 'Edit', edit_aluno_path(aluno) %></td>
        <td><%= link_to 'Destroy', aluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aluno', new_aluno_path %>
