<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Instrumento:</strong>
  <%= @professor.instrumento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @professor.cpf %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @professor.identidade %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @professor.nascimento %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @professor.salario %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
